$gray-ext-0: rgb(232, 232, 232);
$gray-ext-1: rgb(85, 90, 102);
$gray-ext-2: rgb(20, 20, 20);
$red-ext-1: rgb(186, 62, 48);

.accordion {
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  border: 0.1rem solid $gray-ext-0;
  overflow: hidden;

  .item {
    cursor: default;
    word-break: break-all;

    &:first-child {
      .header {
        padding-top: 3rem;
      }
    }

    &:last-child {
      .header {
        padding-bottom: 3rem;
      }
      .content {
        margin-top: -1.5rem;
        padding-bottom: 1.5rem;
      }
    }

    &.opened {
      .icon {
        transform: rotate(90deg);
        fill: $red-ext-1;
      }
    }

    &:focus {
      border: none;
      outline: none;

      .header {
        color: $red-ext-1;
      }    
    }
  }

  .header {
    display: flex;
    align-items: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.4rem;
    color: $gray-ext-2;
    padding: 1.5rem;
    z-index: 1;
  }

  .title {
    word-break: break-all;
    word-wrap: break-word;
    margin-right: 1em;
  }

  .icon {
    flex: none;
    transition: transform 0.1s ease-in-out;
    margin-left: auto;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    fill: $gray-ext-1;
  }

  .content {
    padding: 0 1.5rem;
  }
}
